$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d48;

// Fonts
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Break points
$bp-large: 75em; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 43.75em; // 700px
