.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem;

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;

    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}
